BasedOnStyle:  Google
AccessModifierOffset: -4
BreakBeforeBinaryOperators: true
BreakBeforeTernaryOperators: true
BinPackParameters: false
ColumnLimit:     99
DerivePointerBinding: false
IndentWidth:     4
TabWidth:        4
BreakBeforeBraces: Allman
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles:  flase
SpaceInEmptyParentheses: false
IndentCaseLabels : true
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AlignEscapedNewlines: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBinaryOperators: true
compactNamespaces: true